[data-ep-main] {
  user-select: text;
  border-radius: 6px;
  width: 100%;
  padding: 10px 10px 0 10px;
  outline: 0;
  font-size: 16px;
}

[data-ep-main],
[data-ep-main] * {
  box-sizing: border-box;
}

[data-ep-main] > [data-ep-h] {
  display: block;
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 2em;
  line-height: 1.1em;
  font-weight: normal;
}

[data-ep-main] > [data-ep-h]::before {
  display: 'inline';
  content: '#';
  opacity: 0.5;
  margin-right: 0.3em;
  pointer-events: none;
  user-select: none;
}

[data-ep-main] > [data-ep-h="2"] { font-size: 1.9em; }
[data-ep-main] > [data-ep-h="2"]::before { content: '##'; }

[data-ep-main] > [data-ep-h="3"] { font-size: 1.8em; }
[data-ep-main] > [data-ep-h="3"]::before { content: '###'; }

[data-ep-main] > [data-ep-h="4"] { font-size: 1.7em; }
[data-ep-main] > [data-ep-h="4"]::before { content: '####'; }

[data-ep-main] > [data-ep-h="5"] { font-size: 1.6em; }
[data-ep-main] > [data-ep-h="5"]::before { content: '#####'; }

[data-ep-main] > [data-ep-h="6"] { font-size: 1.5em; }
[data-ep-main] > [data-ep-h="6"]::before { content: '######'; }

[data-ep-main] p,
li[data-ep],
p[data-ep] {
  display: block;
  padding: 0 0 0.4em 0;
  margin: 0;
  line-height: 1.5em;
}

p[data-ep-todo] {
  display: block;
  position: relative;
  /* margin: 0; */
  /* padding: 5px 0; */
  padding-left: 26px;
  /* box-shadow: 0 0 0 1px pink; */
}

[data-ep-d="true"] {
  text-decoration: line-through;
}

[data-ep-todo-check] {
  user-select: none;
  position: absolute;
  left: 0;
  top: 0;
}

[data-ep-todo-check] input {
  margin: 5px;
}

p[data-ep-i="1"],
li[data-ep-i="1"] {
  margin-left: calc(1 * 30px);
}
p[data-ep-i="2"],
li[data-ep-i="2"] {
  margin-left: calc(2 * 30px);
}
p[data-ep-i="3"],
li[data-ep-i="3"] {
  margin-left: calc(3 * 30px);
}
p[data-ep-i="4"],
li[data-ep-i="4"] {
  margin-left: calc(4 * 30px);
}
p[data-ep-i="5"],
li[data-ep-i="5"] {
  margin-left: calc(5 * 30px);
}
p[data-ep-i="6"],
li[data-ep-i="6"] {
  margin-left: calc(6 * 30px);
}
/* p[data-ep-i="7"] { margin-left: calc(7 * 30px); }
p[data-ep-i="8"] { margin-left: calc(8 * 30px); }
p[data-ep-i="9"] { margin-left: calc(9 * 30px); } */

li[data-ep]:not([data-ep-l="ol"]) {
  counter-reset: list-number
    list-number-1
    list-number-2
    list-number-3
    list-number-4
    list-number-5;
}

li[data-ep][data-ep-l="ol"]:not([data-ep-i]),
li[data-ep][data-ep-l="ol"][data-ep-i="0"] {
  counter-reset: 
    list-number-1
    list-number-2
    list-number-3
    list-number-4
    list-number-5;
}

li[data-ep][data-ep-l="ol"][data-ep-i="1"] {
  counter-reset: 
    list-number-2
    list-number-3
    list-number-4
    list-number-5;
}

li[data-ep][data-ep-l="ol"][data-ep-i="2"] {
  counter-reset: 
    list-number-3
    list-number-4
    list-number-5;
}

li[data-ep][data-ep-l="ol"][data-ep-i="3"] {
  counter-reset: 
    list-number-4
    list-number-5;
}

li[data-ep][data-ep-l="ol"][data-ep-i="4"] {
  counter-reset: 
    list-number-5;
}

li[data-ep][data-ep-l="ol"][data-ep-i="5"] {
  /* counter-reset: list-number-5; */
}

li[data-ep-l] {
  padding-left: 30px;
  display: block;
  list-style: none;
  position: relative;
}

li[data-ep-l="ol"] {
  counter-increment: list-number;
}
li[data-ep-l="ol"]:before {
  position: absolute;
  margin-left: -24px;
  font-size: 0.9em;
  /* color: gray; */
  content: counter(list-number, decimal) '.';
  pointer-events: none;
}

li[data-ep-l="ol"][data-ep-i="1"] {
  counter-increment: list-number-1;
}
li[data-ep-l="ol"][data-ep-i="1"]:before {
  content: counter(list-number-1, upper-alpha) '.';
}

li[data-ep-l="ol"][data-ep-i="2"] {
  counter-increment: list-number-2;
}
li[data-ep-l="ol"][data-ep-i="2"]:before {
  content: counter(list-number-2, lower-alpha) '.';
}

li[data-ep-l="ol"][data-ep-i="3"] {
  counter-increment: list-number-3;
}
li[data-ep-l="ol"][data-ep-i="3"]:before {
  content: counter(list-number-3, upper-roman) '.';
}

li[data-ep-l="ol"][data-ep-i="4"] {
  counter-increment: list-number-4;
}
li[data-ep-l="ol"][data-ep-i="4"]:before {
  content: counter(list-number-4, lower-roman) '.';
}


li[data-ep-l="ul"]:before {
  position: absolute;
  margin-left: -23px;
  font-size: 1em;
  /* color: gray; */
  content: '•';
  pointer-events: none;
}
li[data-ep-l="ul"][data-ep-i="1"]:before {
  content: '◼';
}
li[data-ep-l="ul"][data-ep-i="2"]:before {
  content: '◻';
}
li[data-ep-l="ul"][data-ep-i="3"]:before {
  content: '○';
}

[data-ep-img] {
  display: block;
  border-radius: 4px;
  cursor: default;
}
/* [data-ep-main]:focus-within [data-ep-img][data-ep-s], */
[data-ep-main]:focus [data-ep-img][data-ep-s] {
  box-shadow: 0 0 0 2px #98c9ff;
  position: relative;
}
[data-ep-main]:focus [data-ep-img][data-ep-s]::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #98c9ff;
  opacity: 0.2;
  border-radius: inherit;
}
[data-ep-img] br {
  line-height: 0;
  font-size: 0;
  color: transparent;
}
[data-ep-img] > span {
  display: block;
  user-select: none;
  margin-top: -1.5em;
  outline: none;
  pointer-events: none;
}
[data-ep-img] img {
  border-radius: 4px;
  width: 100%;
  font-size: 0;
  line-height: 0;
  vertical-align: middle;
}
[data-ep-img] input {
  display: block;
  width: 100%;
  padding: 8px 4px;
  background-color: transparent;
  color: inherit;
  font-size: 0.8em;
  border: 0;
  text-align: center;
  opacity: 0.5;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-top: 0;
  border-radius: 0 0 5px 5px;
  font-size: 16px;
}

[data-debug] {
  box-shadow: 0 0 1px gray;
  line-height: inherit;
}
[data-debug]::before {
  content: attr(data-debug);
  color: orange;
  font-size: 8px;
  margin-right: 5px;
  position: absolute;
  margin-top: -1.4em;
  pointer-events: none;
  font-weight: normal;
  font-style: normal;
}

.e-fl-toolbar {
  position: fixed;
  display: block;
  font-size: 10px;
  background-color: #353535;
  transform: translate(-50%, -100%);
  margin: -10px 0 0 0;
  z-index: 20;
  padding: 4px;
  border-radius: 6px;
  white-space: nowrap;
}

.e-fl-toolbar button {
  padding: 8px 11px;
  border: 0;
  border-radius: 5px;
  font-weight: 700;
  background-color: transparent;
  color: #ccc;
  margin-right: 3px;
  width: 35px;
  cursor: pointer;
  vertical-align: top;
  font-size: 12px;
}

.e-fl-toolbar button:last-child {
  margin-right: 0;
}

.e-fl-toolbar button:hover {
  background-color: #434343;
}

.e-fl-toolbar button:active {
  background-color: #2b2b2b;
}

.e-fl-toolbar button[data-e-tb-active] {
  background-color: #2b2b2b;
  color: orangered;
}

.e-fl-drop {
  position: fixed;
  display: block;
  font-size: 10px;
  width: 220px;
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #353535;
  margin: 0 0 0 0;
  z-index: 20;
  padding: 6px 0;
  border-radius: 6px;
  white-space: nowrap;
  color: #fff;
}

.e-fl-drop button {
  display: block;
  width: 100%;
  border: 0;
  text-align: left;
  font-size: 15px;
  background-color: transparent;
  color: inherit;
  padding: 7px 10px;
}

.e-fl-drop button[data-active] {
  background-color: orangered;
}

/* 
img.ep-todo-capture {
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.5;
  pointer-events: none;
} */
