[data-ep-main] {
  user-select: text;
  border: 1px solid orange;
  border-radius: 6px;
  width: 500px;
  padding: 10px;
}

h1[data-ep],
h2[data-ep],
h3[data-ep] {
  display: block;
  margin: 0;
  padding: 0 0 15px 0;
}

h1[data-ep]::before {
  display: 'inline';
  content: '#';
  opacity: 0.5;
  margin-right: 0.3em;
}

h2[data-ep]::before {
  display: 'inline';
  content: '##';
  opacity: 0.5;
  margin-right: 0.3em;
}

h3[data-ep]::before {
  display: 'inline';
  content: '###';
  opacity: 0.5;
  margin-right: 0.3em;
}

[data-ep-main] p,
p[data-ep] {
  display: block;
  margin: 0;
  padding: 0 0 15px 0;
}

p[data-ep-todo] {
  display: block;
  position: relative;
  /* margin: 0; */
  /* padding: 5px 0; */
  padding-left: 26px;
  /* box-shadow: 0 0 0 1px pink; */
}

[data-ep-todo-check] {
  user-select: none;
  position: absolute;
  margin-left: -26px;
}

[data-ep-todo-check] input {
  margin: 5px;
}

/* 
img.ep-todo-capture {
  display: inline-block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.5;
  pointer-events: none;
} */
